.weather-container {
    text-align: center;
    padding: 20px;
    border: 1px solid ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
  .weather-icon {
    font-size: 64px;
  }
  
  h2 {
    margin-bottom: 50px;

  }
  
  p {
    margin: 30px;
  }
  
  p:not(:last-child) {
    margin-bottom: 5px;
  }
  